# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create tables in Jupyter Notebook
- Write arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Da- For data manipulation and analysis
1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib
5. TensorFlow/PyTorch

|Data Science Tools|
|------------------|
| RStudio |
| JupyterLab |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
print((3*4)+5) # This a simple arithmetic expression to mutiply then add integers.

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
print("200 minutes in hours is: " + str(200/60) + " hrs")

200 minutes in hours is: 3.3333333333333335 hrs

## Author:
Mveliso Mathonsi